<!--The content below is only a placeholder and can be replaced.-->
<section class="background_gradient">
  <div style="text-align:center">
    <h1>{{title}}</h1>
    <button (click)="clickZone('Pacific')" [ngClass]="{yellow: clicked === 'Pacific'}">PDT</button>
    <button (click)="clickZone('Mountain')" [ngClass]="{yellow: clicked === 'Mountain'}">MDT</button>
    <button (click)="clickZone('Central')" [ngClass]="{yellow: clicked === 'Central'}">CDT</button>
    <button (click)="clickZone('Eastern')" [ngClass]="{yellow: clicked === 'Eastern'}">EDT</button>
    <button (click)="clickZone('clear')" [ngClass]="{yellow: clicked === 'clear'}">Clear</button>
    <h2 *ngIf="time">{{ time | date : 'h:mma'}} ({{clicked}})</h2>
    <h2 *ngIf="!time">{{ currentTime | date : 'h:mma' }} (Pacific)</h2>
  </div>
</section>

