<!DOCTYPE html>
<html lang='en'>
<head>
    <title>AMADJON</title>
    <meta charset='UTF-8'>
    <meta name='description' content="DESCRIPTIVE_TEXT">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<!--      Latest compiled and minified CSS 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- Link to my own CSS and JS files -->
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel='stylesheet'>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Link to Google Fonts: Montserrat family -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <section>
    <!--for demo wrap-->
    <h1>A m a dj o n</h1>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
            <th>Your shopping cart has been cleared.</th>
            </tr>
        </thead>
        </table>
    </div>
    </section>


<!-- follow me template -->
<div class="made-with-love big">
  <a target="_blank" href="/">C O N T I N U E &nbsp;&nbsp;S H O P P I N G</a>
</div>
</body>
</html>