
$bg: #2a3136;
$text-color: mistyrose;
$accent-color: lightcoral;

label {
    color: $accent-color;
    font-size: 1.5em;
}

input[type='text'], textarea {
    background: none;
    border: 1px solid mistyrose;
    padding: 22px 15px;
    color: $text-color;
    margin-right: 10px;
}

textarea {
    min-height: 70px;
}

.filled {
    background: $accent-color;
    color: $bg;
    float: left;
    border-radius: 0;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 700;
    padding: 12px 22px;
    margin-top: 40px;
}

.alert {
    margin: -5px 0 20px 0;
}