<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Cars: MEAN</title>
    <meta charset='UTF-8'>
    <meta name='description' content="Vinney's practice assignment, Cars and Cats, for MEAN">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='/stylesheets/style.css' rel='stylesheet'> 
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <style>
        * { font-family: 'Source Sans Pro', sans-serif; }
    </style>
    <script>
        
    </script>
</head>
<body>
    <h1>Welcome, friend!</h1>
        <h2>Aren't these Teslas cool?</h2>
        <ul>
            <img src="images/tesla-3.jpg">
            <img src="images/tesla-s.jpg">
            <img src="images/tesla-x.jpg">
        </ul>
</body>
</html>