<h3>Add a New Product</h3>
<form #form="ngForm">
  <p>
    <span>Product name:</span>
    <input type="text" name="name" required minlength="2" [(ngModel)]="product.name" #name="ngModel" placeholder="at least 2 characters required">
    <!-- {{name.errors | json}} -->
  </p>
  <p>
    <span>Price:</span>
    <input type="text" name="price" required minlength="1" [(ngModel)]="product.price" #price="ngModel" placeholder="a least 1 character required">
    <!-- {{price.errors | json}} -->
  </p>
  <p>
    <span>Image URL:</span>
    <input type="text" name="url" required minlength="5" [(ngModel)]="product.url" #url="ngModel" placeholder="at least 5 characters required">
    <!-- {{url.errors | json}} -->
  </p>
  <input type="submit" (click)="onSubmit()" [routerLink]="['/products']" [disabled]="!form.valid" value="Add new product">
</form>