.product-container {
    display: inline-block;
    width: 40%;
    max-height: 75%;
    padding: 2em;
    margin-right: 1.5em;
    margin-bottom: 2em;
    border: 1px solid rgba(210, 180, 140, 0.2);
}

img {
    max-height: 20vh;
    max-width: 75%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

h1 { font-size: 3em; font-weight: 100; margin-bottom: 0.5em; }
h2 { font-size: 2em; font-weight: 100; }
h3 { 
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 2em;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: royalblue;
}
h4 { 
    font-size: 1.3em; 
    font-weight: 300; 
    margin: 0.5em 0em;
    color: royalblue;
}

b { font-weight: 500; }


button {
    width: 100%;
    margin-bottom: 2%;
    border: none;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

.orange { background-color: darkorange; }
.red { background-color: tomato; }
.green { background-color: olivedrab; }
.blue { background-color: powderblue; }
