
<div class="row header">  <!-- using Foundation flex grid classes, such as "row" ("header" is my own tag) -->
  <div class="columns small-12 medium-3">  <!-- Foundation flex grid is based on 12 columns -->
    <a routerLink='/'><img src="/assets/images/logo.svg" id="logo"></a>
  </div>
  <div class="columns small-12 medium-9">   <!-- all columns of same type within a row class must total 12 (e.g., medium-3 + medium-9) -->
    <a routerLink="post" class="cta-btn">Ask a Question</a>
  </div>
</div>