<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Survey: Express</title>
    <meta charset='UTF-8'>
    <meta name='description' content="Vinney's practice assignment, Survey: Express, for MEAN">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='style.css' rel='stylesheet'> 
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <style>
        * { font-family: 'Source Sans Pro', sans-serif; }
    </style>
    <script>
        
    </script>
</head>
<body>
    <section>
        <fieldset>
            <legend>Survey</legend>
            <p><span>Your Name:</span><%= name %></p>
            <p><span>Dojo Location:</span><%= location %></p>
            <p><span>Favorite Language:</span><%= language %></p>
            <p><span>Comment:</span><%= comments %></p>
            <a class="endbutton" href="/">Go Back</a>
        </fieldset>
    </section>
</body>
</html>