<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Know Ninjas!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <h3>So you want to learn about ninjas?</h3>
        <p>ninja |ˈninjə|</p>
        <p>noun</p>
        <p>a person skilled in ninjutsu.</p>
        <ul>
            <li><i>[often with modifier] informal</i> a person who excels in a particular skill or activity: <i>the courses vary—you don't have to be a computer ninja to apply.</i></li>
        </ul>
    </body>
</html>