<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Ninja Gold</title>
    <meta charset='UTF-8'>
    <meta name='description' content="Vinney's practice assignment, Ninja Gold, for Python/ Flask">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='static/style.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Serif Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>
</head>
<body>
    
</body>
</html>