<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{title}}</h1>
  <a [routerLink]="['seattle']">Seattle, WA</a>&nbsp; | &nbsp;<a [routerLink]="['san-jose']">San Jose, CA</a>&nbsp; | &nbsp;<a [routerLink]="['burbank']">Burbank, CA</a>&nbsp; | &nbsp;<a [routerLink]="['dallas']">Dallas, TX</a>&nbsp; | &nbsp;<a [routerLink]="['washington']">Washington, D.C.</a>&nbsp; | &nbsp;<a [routerLink]="['chicago']">Chicago, IL</a>
</div>
<br>
<fieldset>
  <legend>"Wherever you go, no matter what the weather, always bring your own sunshine."</legend>
  {{weather | json}}
  <router-outlet></router-outlet>
</fieldset>

