<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Time Display</title>
    <meta charset='UTF-8'>
    <meta name='description' content="Vinney's practice assignment, Time Display, for Django">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Serif Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>
</head>
<body>
    <fieldset>
        <p>The current time and date:</p>
    </fieldset>
    <div class="time">{{ time }}</div>
</body>
</html>