<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dojo Survey with Validation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Dojo Survey</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
          <form action='/process' method='POST'>
            <p>Email:<input type="text" name="email"></p>
            <p>First Name:<input type="text" name="first_name"></p>
            <p>Last Name:<input type="text" name="last_name"></p>
            <p>Password:<input type="text" name="password"></p>
            <p>Confirm Password:<input type="text" name="confirm_password"></p>
            <p><input type="submit" value="Submit"></p>
          </form>
    </body>
</html>