<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Semi-RESTful Users</title>
    <meta charset='UTF-8'>
    <meta name='description' content="Vinney's practice assignment, Semi-RESTful Users, for Django">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel='stylesheet'>
    <!-- <link href='static/style.css' rel='stylesheet'> -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Serif Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'> -->
</head>
<body>
    <section>
        <h1>U S E R : &nbsp; {{ user_list.id }}</h1>
        <p><span>F U L L &nbsp; N A M E :</span> &nbsp; {{ user_list.first_name }} {{ user_list.last_name}}</p>
        <p><span>E M A I L :</span> &nbsp; {{ user_list.email }}</p>
        <p><span>C R E A T E D &nbsp; A T :</span> &nbsp; {{ user_list.created_at}}</p>
        <p><span>U P D A T E D &nbsp; A T :</span> &nbsp; {{ user_list.updated_at}}</p>
        <br>
        <a class="endbutton" href="/users">G O &nbsp; B A C K</a> | <a class="endbutton" href="/users/{{ user_list.id }}/edit">E D I T</a> | <a class="endbutton" href="/users/{{ user.id }}/destroy">D E L E T E</a>
    </section>
</body>
</html>