<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Disappearing Ninjas</title>
    <meta charset='UTF-8'>
    <meta name='description' content="This is Vinney's practice assignment, Disappearing Ninjas, for Python/ Flask">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='static/style.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Serif Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>
</head>
<body>
    <fieldset>
        <h1>Disappearing Ninjas: Python version</h1>
        <p>No ninjas here... :(</p>
        <hr>
        <p>But you can visit:</p>
        <ul>
            <li>/ninja</li>
            <li>/ninja/blue</li>
            <li>/ninja/orange</li>
            <li>/ninja/red</li>
            <li>/ninja/purple</li>
            <li>/ninja/[try putting something here]</li>
        </ul>
    </fieldset>
</body>
</html>