<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Success</title>
    <meta charset='UTF-8'>
    <meta name='description' content="Vinney's practice assignment, Login and Registration, for Django">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel='stylesheet'>
    <!-- <link href='static/style.css' rel='stylesheet'> -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Serif Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'> -->
</head>
<body>
    <h1>Welcome, {{ request.session.user_name }}</h1>
    {% if messages %}
    <ul class='messages'>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li><br>
        {% endfor %}
    </ul>
    {% endif %}
    <a class="endbutton" href="/">G O &nbsp; B A C K</a>
</body>
</html>