<html>
    <head>
        <title>Form Test Index</title>
        <meta charset='UTF-8'>
        <meta name='description' content="Form test show">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href='static/style.css' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Source Serif Pro' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>
    </head>
    <body>
        <h1>Index Page</h1>
        <h3>Create a User</h3>
        <form action='/users' method='post'>
            Name: <input type='text' name='name'>
            Email: <input type='text' name='email'>
            <input type='submit' value='create user'>
        </form>
    </body>
</html>