<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Form Test Show</title>
    <meta charset='UTF-8'>
    <meta name='description' content="Form test show">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='static/style.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Serif Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>
</head>
<body>
    <h1>User:</h1>
    <h3>{{ session['name'] }}</h3>
    <h3>{{ session['email'] }}</h3>
</body>
</html>