
<div *ngIf="post">   <!-- "post" is defined in details.component.ts -->
    <div class="row columns">
      <a routerLink="/" id="back">Home</a> &nbsp;|&nbsp; <a routerLink="/question/{{ post.id }}/new_answer" id="answerQ">Answer this Question</a>
      <h1>{{ post.question }}</h1>
      <h3>{{ post.description }}</h3>
      <br>
    </div>
    <div class="row" *ngFor="let answer of post.response; let idx=index">
      <div class="columns small-12 medium-7">
        <p class="author">{{answer.author}}:</p>
        <p><b>{{answer.answer}}</b></p>
        <p>{{answer.support}}</p>
      </div>
      <div class="columns small-12 medium-5">
        <p class="likes">{{ answer.likes }} likes <button class="btn2" (click)="like(post, idx)">Like</button></p>
      </div>
    </div>
</div>