<fieldset>
  <div class="col-2">
    <h1>{{title}}</h1>
    <form (submit)="calculateScore()" #formData="ngForm">
       <p class="username">GitHub Username (required): </p><input type="text" name="username" required [(ngModel)]="username" placeholder="search for username here">
      <button type="submit" [disabled]="!formData.valid">Calculate my GitHub Score</button>
    </form>
  </div>
  <div class="col-2 text-center">
    <div *ngIf="userExists === true">
      <h3>{{username}} Score:</h3>
      <h1>{{ score }}</h1>
      <h3 *ngIf="score < 20" class="color-red">Gotta start somewhere!</h3>
      <h3 *ngIf="score >= 20 && score < 50" class="color-orange">A decent start!</h3>
      <h3 *ngIf="score >= 50 && score < 100" class="color-black">Doing well!</h3>
      <h3 *ngIf="score >= 100 && score < 200" class="color-green">Great job!</h3>
      <h3 *ngIf="score >= 200" class="color-blue">GitHub Elite!</h3>
    </div>
    <div *ngIf="userExists === false">
      <br><br><br><br>
      <p>Username does not exist. Search for a different GitHub username.</p>
    </div>
    <div *ngIf="username === null && score === null">
      <br><br><br>
      <p><i>Search for a user on GitHub to display their "GitHub score". (GitHub scores are calculated by adding number of repositories to number of followers)</i></p>
    </div>
  </div>
</fieldset>