<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Counter</title>
    <meta charset='UTF-8'>
    <meta name='description' content="Vinney's practice assignment, Counter, for MEAN">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='style.css' rel='stylesheet'> 
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <style>
        * { font-family: 'Source Sans Pro', sans-serif; }
    </style>
    <script>
        
    </script>
</head>
<body>
    <section>
        <h1>Counter</h1>
        <p>visited this page <%= counter %> times</p>
        <div class="inline-block">
            <a href="/two">+2</a> &nbsp;  &nbsp; <a href="/reset">RESET</a>
        </div class="inline-block">
    </section>
</body>
</html>