<h1>{{title}}</h1>
  <div class="container">
    <header>Account Information</header>
    <article>
      <p><input type="text" name="firstName" required minlength="4" maxlength="24"/></p>
      <p><input type="text" name="lastName"/></p>
      <p><input type="text" name="email"/></p>
      <p><input type="password" name="password"/></p>
      <p><input type="password" name="passwordConf"/></p>
      <p><input type="text" name="street"/></p>
      <p><input type="text" name="unit"/></p>
      <p><input type="text" name="city"/></p>
      <p><input type="text" name="state"/></p>
      <p><input type="text" name="lucky"/></p>
    </article>
    <nav>
      <p>*First Name:</p>
      <p>*Last Name:</p>
      <p>*Email:</p>
      <p>*Password:</p>
      <p>*Password Confirmation:</p>
      <p>*Street Address:</p>
      <p>Unit/ Apt #:</p>
      <p>*City:</p>
      <p>*State:</p>
      <p>*I'm feeling lucky:</p>
    </nav>
    <aside>
      <p>First name must be</p>
    </aside>
    <footer><input type="submit" /></footer>
  </div>

<!--           <p><input name="lastName"
                  type="text"
                  required
                  minlength = "4"
                  maxlength = "24"
                  [(ngModel)] = "user.lastName"
                  #lastName = "ngModel"/></p>
        <p><input name="email"
                  type="text"
                  required
                  minlength = "4"
                  maxlength = "24"
                  [(ngModel)] = "user.email"
                  #email = "ngModel"/></p>
        <p><input name="password"
                  type="password"
                  required
                  minlength = "4"
                  maxlength = "24"
                  [(ngModel)] = "user.password"
                  #password = "ngModel"/></p>
        <p><input name="passwordConf"
                  type="password"
                  required
                  minlength = "4"
                  maxlength = "24"
                  [(ngModel)] = "user.passwordConf"
                  #passwordConf = "ngModel"/></p>
        <p><input name="street"
                  type="text"
                  required
                  minlength = "4"
                  maxlength = "24"
                  [(ngModel)] = "user.street"
                  #street = "ngModel"/></p>
        <p><input name="unit"
                  type="text"
                  minlength = ""
                  maxlength = "24"
                  [(ngModel)] = "user.street"
                  #street = "ngModel"/></p>
        <p><input name="city"
                  type="text"
                  required
                  minlength = "4"
                  maxlength = "24"
                  [(ngModel)] = "user.city"
                  #city = "ngModel"/></p>
        <p><input name="state"
                  type="text"
                  required
                  minlength = "2"
                  maxlength = "2"
                  [(ngModel)] = "user.state"
                  #state = "ngModel"/></p>
        <p><input name="lucky"
                  type="text"
                  required
                  minlength = "2"
                  maxlength = "2"
                  [(ngModel)] = "user.lucky"
                  #lucky = "ngModel"/></p>   -->